@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-gray-300 font-sans antialiased overflow-x-hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-mono text-white tracking-tight;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0F17;
}
::-webkit-scrollbar-thumb {
  background: #161B22;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00F2FE;
}

/* Custom Selection */
::selection {
  background-color: #00F2FE;
  color: #0B0F17;
}
